body {
    margin: 0;
    background-color: #000000 !important;
}

.container1 {
    background-image: url(CSS/hero\ home\ image.png);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-height: 30rem;

}

.nav-item a {
    color: white;

}

.nav-item a:hover {
    color: #853203;
}

.modal-content{
    background-color: #000000 !important;
    min-width: 44rem !important;
}

.water {
    background-color: #Ef5C0c;
    border: none;
    min-width: 25% !important;
}

.calories {
    background-color: #Ef5C0c;
    border: none;
    min-width: 25% !important;
}

.beats {
    background-color: #Ef5C0c;
    border: none;
    min-width: 25% !important;
}

.slept {
    background-color: #Ef5C0c;
    border: none;
    min-width: 25% !important;
}

.sub {
    background-color: #000000 !important;
    border: 1px solid grey !important;
    min-width: 40% !important;
}

.trend {
    background-color: #000000 !important;
    border: 1px solid grey !important;
    min-width: 60% !important;
}

.dashboard {
    border: 1px solid grey;
}

.profile {
    background-color: #000000;
    border: 1px solid grey;
    width: 80%;
}

.enroll {
    color: #853203 !important;
}

.btn {
    background-color: #Ef5C0c !important;
    border: none;
    min-width: 20%;
}
.btn a{
    text-decoration: none;
}

.btn3 {
    background-color: #Ef5C0c !important;
    border: none;
    min-width: 10%;
    
}


.card {
    background-color: #000000 !important;
}

.card:hover {
    background-color: #Ef5C0c !important;
}

.gallery {
    border: 1px solid grey;
    border-radius: 10px !important;
}

.list-group-flush {
    background-color: #000000 !important;
}

.container3 {
    background-image: url(images/review\ background\ image.png);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-height:20rem;
   
    border: 1px solid grey;
}

.carousel-inner {
    border: 2px solid gray;
    max-width:  40rem !important;

}

.sign-up {
    max-width: 20% !important;
}

.btn1 {
    border: none;
}

.btn2 {
    border: none;
}

.password {
    max-width: 20% !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign {
    max-width: 10%;
    border: 2px solid grey;
    background-color: #Ef5C0c;
    opacity: 0;
    transition: opacity 0.3s ease;
}